//
// Buttons
// --------------------------------------------------
button,
.button,
[class^="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 0.75em 1.25em;
    margin: 0 0 0.625em;
    appearance: none;
    outline: none;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    border-radius: .2em;
    @include font-size(12);
    
    @include button-style(lighten($baseColor,15%), $textColor);

    &.huge{
        @include font-size(16);
        padding: 0.625em 2em;
    }
    &.small{
        @include font-size(11);
        padding: .2em .3em;
        margin: 0;
        color: $textColor;
    }
}

button.primary,
.button-primary,
input.button-primary {
	@include button-style($primaryColor, white);
}

button.secondary,
.button-secondary,
input.button-secondary {
	@include button-style($secondaryColor, white);
}

button.action,
.button-action,
input.button-action {
    @include button-style($actionColor, $textColor);
}

button.facebook,
.button-facebook,
input.button-facebook {
	@include button-style($socialFacebook, white);
	padding-left: 0.6em;

	&.disabled {
		background: #9099ae;
		color: white;
		cursor: default;
	}
}

button.twitter,
.button-twitter,
input.button-twitter {
	@include button-style($socialTwitter, white);

	&.disabled {
		background-color: #aebcc7;
		color: white;
		cursor: default;
	}
}
